@media screen and (max-width: 600px){

    .oldPasswordResetComponentWrapper{
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    .oldPasswordResetComponentForm{
        width: 90%;
        height: 80%;
    
        display: flex;
        gap:18px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
    }
  
    .oldPasswordResetTexts{
        display: flex;
        flex-direction: column;
        width: 100%;
   
        align-items: start;
        gap:10px;

     
    }
    .oldPasswordResetHeroImage img{
        width: 100%;
        height: 95%;
    }
    .oldPasswordResetHeroImage{
      display: none;
    }
    
    .oldPasswordResetHeroImage img{
        width: 100%;
        height: 100%;
    }
    .gigRivalsLogo{
        width: 85%;

        display: flex;
        align-self: flex-start;
        justify-content: space-between;
    }
    .gigRivalsLogoImg img{
        width: 264px;
        height: 30px;
    }
    .welcomeText{
        display: flex;
        width: 100%;
        margin-top: 20px;
        gap:4px;
        cursor: pointer;
        align-items: center;
        font-size:32px ;
        line-height: 34px;
        font-weight: 600;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#463F3C;
    }
    .welcomeText .leftArrowImg{
        display: none;
    }
    .oldPasswordResetTitle{
  
        font-size:24px ;
        line-height: 32px;
        font-weight: 700;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000; 
    }
    .oldPasswordResetInstruction{
        font-size:16px ;
        line-height: 20px;
        font-weight: 400;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000;   
    }
    .oldPasswordResetAlternatives{
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        margin-top: 4px;
    }
    .googleAlternative{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10px;
        width:50% ;
        height: 50px;
        font-size:12px ;
        line-height: 14px;
        border-radius: 50px;
        border: 1px solid #00000080;
        cursor: pointer;
    }
    .emailAlternative{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:4px;
        width:50% ;
        height: 50px;
        font-size:12px ;
        line-height: 14px;
        border-radius: 50px;
        border: 1px solid #00000080;
        cursor: pointer;
    }
    .continueWithText{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:16px ;
        line-height: 16px;
        margin-top: 4px;
        font-weight: 500;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000;    
    }
    .emailLabel{
        width: 100%;
        margin-top: 4px;
        font-size:18px ;
        line-height: 16px;
        font-weight: 500;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000; 
    }
    .emailInputContainer {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .oldPasswordResetButtonSection{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    
    }
    .signUpLink{
        display: flex;
        width: 50%;
        margin-top: 20px;
        justify-content: center;
      }
    
    .emailInputBar {
        width: 100%;
        height: 60px;
        padding-left: 40px; /* Adjust as needed to make space for the logo */
        border-radius: 50px;
        border: 2px solid #0000004D;
        background-image: url('../../assets/Images/emailLogo.svg'); /* Replace 'path/to/emailLogo.png' with the actual path to your email logo */
        background-size: 24px 24px; /* Set the size of the background image */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        background-position: 10px center; /* Adjust the position of the background image */
    }
    
    .emailInputBar::placeholder {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        font-family: Neue Haas Grotesk Display Pro;
        color: #888A8B;
    }
    .oldPasswordResetButton {
     
        box-shadow: #7E8AF8;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        cursor: pointer;
        font-family: Neue Haas Grotesk Display Pro;
        padding: 3px ;
        width: 95%;
        height: 50px;
        border-radius: 50px;
        background: linear-gradient(to right, #4B4BE3, #5691C8);
      }
      .oldPasswordResetLink{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: Neue Haas Grotesk Display Pro;
        color: #574F4A;
      }
      .oldPasswordResetLink span{
        font-weight: 600;
        background-image: linear-gradient(to right, #4B4BE3, #5691C8);
        -webkit-background-clip: text; /* For Safari */
        background-clip: text;
        color: transparent; 
        cursor: pointer;
      }
    }
    @media screen and (min-width: 601px) and (max-width: 900px){
             
    .oldPasswordResetComponentWrapper{
        width: 100%;
        height: 800px;
        gap:4px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .oldPasswordResetComponentForm{
        width: 50%;
        height: 60%;
        margin-left: 10px;
        display: flex;
        gap:20px;
        flex-direction: column;
        align-items: center;
        justify-content: start;
      
    }
    .oldPasswordResetHeroImage{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
     
    }
    .oldPasswordResetTexts{
        display: flex;
        flex-direction: column;
        width: 100%;

        align-items: start;
        gap:10px;

     
    }
    .oldPasswordResetHeroImage img{
        width: 100%;
        height: 95%;
    }

    .gigRivalsLogo{
        width: 350px;
    }
    .gigRivalsLogo .leftArrowImg{
        display: none;
    }
    .gigRivalsLogoImg img{
        width: 267px;
        height: 45px;
    }
    .welcomeText{
        display: flex;
        width: 350px;
        gap:4px;
        cursor: pointer;
        align-items: center;
        font-size:24px ;
        line-height: 28px;
        font-weight: 600;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#463F3C;
    }
    .oldPasswordResetTitle{
 
        font-size:24px ;
        line-height: 28px;
        font-weight: 700;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000; 
    }
    .oldPasswordResetInstruction{

        font-size:16px ;
        line-height: 20px;
        font-weight: 400;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000;   
    }
    .oldPasswordResetAlternatives{
        width: 350px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        margin-top: 4px;
    }
    .googleAlternative{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10px;
        width:246px ;
        height: 46px;
        font-size:14px ;
        line-height: 14px;
        border-radius: 50px;
        border: 1px solid #00000080;
        cursor: pointer;
    }
    .emailAlternative{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:4px;
        width:246px ;
        height: 46px;
        font-size:14px ;
        line-height: 14px;
        border-radius: 50px;
        border: 1px solid #00000080;
        cursor: pointer;
    }
    .continueWithText{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        font-size:16px ;
        line-height: 16px;
        margin-top: 4px;
        font-weight: 500;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000;    
    }
    .oldPasswordResetEmailLabel{
        margin-top: 4px;
        font-size:16px ;
        line-height: 16px;
        font-weight: 500;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000; 
    }
    .emailInputContainer {
        position: relative;
        display: flex;
        width: 100%;
        align-items: start;
    }
    .oldPasswordResetButtonSection{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    
    }
    .signUpLink{
        display: flex;
        width: 50%;
        margin-top: 20px;
        justify-content: center;
      }
    
    .emailInputBar {
        width: 300px;
        height: 60px;
        padding-left: 40px; /* Adjust as needed to make space for the logo */
        border-radius: 50px;
        border: 2px solid #0000004D;
        background-image: url('../../assets/Images/emailLogo.svg'); /* Replace 'path/to/emailLogo.png' with the actual path to your email logo */
        background-size: 24px 24px; /* Set the size of the background image */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        background-position: 10px center; /* Adjust the position of the background image */
    }
    
    .emailInputBar::placeholder {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        font-family: Neue Haas Grotesk Display Pro;
        color: #888A8B;
    }
    .oldPasswordResetButton {
     
        box-shadow: #7E8AF8;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        cursor: pointer;
        font-family: Neue Haas Grotesk Display Pro;
        padding: 3px ;
        width: 350px;
        height: 50px;
        border-radius: 50px;
        background: linear-gradient(to right, #4B4BE3, #5691C8);
      }
      .oldPasswordResetLink{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: Neue Haas Grotesk Display Pro;
        color: #574F4A;
      }
      .oldPasswordResetLink span{
        font-weight: 600;
        background-image: linear-gradient(to right, #4B4BE3, #5691C8);
        -webkit-background-clip: text; /* For Safari */
        background-clip: text;
        color: transparent; 
        cursor: pointer;
      }
    }
    @media screen and (min-width: 901px) and (max-width: 1440px) {
          
    .oldPasswordResetComponentWrapper{
        width: 100%;
        height: 800px;
         gap:4px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .oldPasswordResetComponentForm{
        width: 50%;
        height: 60%;
        display: flex;
        gap:20px;
        flex-direction: column;
        align-items: center;
        justify-content: start;
      
    }
    .oldPasswordResetHeroImage{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
     
    }
    
    .oldPasswordResetHeroImage img{
        width: 100%;
        height: 95%;
    }
    .gigRivalsLogo{
        width: 450px;
    }
    .gigRivalsLogo .leftArrowImg{
        display: none;
    }
    .gigRivalsLogoImg img{
        width: 267px;
        height: 65px;
    }
    .welcomeText{
        display: flex;
        width: 450px;
        gap:4px;
        cursor: pointer;
        align-items: center;
        font-size:28px ;
        line-height: 30px;
        font-weight: 600;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#463F3C;
    }
    .oldPasswordResetTexts{
        display: flex;
        flex-direction: column;
        width: 100%;

        align-items: start;
        gap:10px;

     
    }
    .oldPasswordResetTitle{
        font-size:28px ;
        line-height: 44px;
        font-weight: 700;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000; 
    }
    .oldPasswordResetInstruction{
        font-size:16px ;
        line-height: 20px;
        font-weight: 400;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000;   
    }
    .oldPasswordResetAlternatives{
        width: 450px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    .googleAlternative{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:4px;
        width:236px ;
        height: 46px;
        border-radius: 50px;
        border: 1px solid #00000080;
        cursor: pointer;
    }
    .emailAlternative{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:4px;
        width:236px ;
        height: 46px;
        border-radius: 50px;
        border: 1px solid #00000080;
        cursor: pointer;
    }
    .continueWithText{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        font-size:16px ;
        line-height: 16px;
        margin-top: 10px;
        font-weight: 500;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000;    
    }
    .oldPasswordResetEmailLabel{
        margin-top: 10px;
        font-size:16px ;
        line-height: 16px;
        font-weight: 500;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000; 
    }
    .emailInputContainer {
        position: relative;
        display: flex;
        align-items: start;
        width: 100%;
    }
    
    .emailInputBar {
        width: 410px;
        height: 60px;
        padding-left: 40px; /* Adjust as needed to make space for the logo */
        border-radius: 50px;
        border: 2px solid #0000004D;
        background-image: url('../../assets/Images/emailLogo.svg'); /* Replace 'path/to/emailLogo.png' with the actual path to your email logo */
        background-size: 24px 24px; /* Set the size of the background image */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        background-position: 10px center; /* Adjust the position of the background image */
    }
    
    .emailInputBar::placeholder {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        font-family: Neue Haas Grotesk Display Pro;
        color: #888A8B;
    }
    .oldPasswordResetButtonSection{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    
    }
    .signUpLink{
        display: flex;
        width: 50%;
        margin-top: 20px;
        justify-content: center;
      }
    .oldPasswordResetButton {
     
        box-shadow: #7E8AF8;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        cursor: pointer;
        font-family: Neue Haas Grotesk Display Pro;
        padding: 3px ;
        width: 450px;
        height: 60px;
        border-radius: 50px;
        background: linear-gradient(to right, #4B4BE3, #5691C8);
      }
      .oldPasswordResetLink{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: Neue Haas Grotesk Display Pro;
        color: #574F4A;
      }
      .oldPasswordResetLink span{
        font-weight: 600;
        background-image: linear-gradient(to right, #4B4BE3, #5691C8);
        -webkit-background-clip: text; /* For Safari */
        background-clip: text;
        color: transparent; 
        cursor: pointer;
      }
    }
    @media screen and (min-width: 1440px){
    
    .oldPasswordResetComponentWrapper{
        width: 100%;
        height: 1024px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:6px;
    
    }
    .oldPasswordResetComponentForm{
        width: 50%;
        height: 60%;
        display: flex;
        gap:20px;
        flex-direction: column;
        align-items: center;

        justify-content: start;
      
    }
    .oldPasswordResetHeroImage{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
     
    }
    
    .oldPasswordResetHeroImage img{
        width: 100%;
        height: 95%;
     
    }
    .gigRivalsLogo{
        width: 550px;
    }
    .gigRivalsLogo .leftArrowImg{
        display: none;
    }
    .gigRivalsLogoImg img{
        width: 277px;
        height: 75px;
    }
    .welcomeText{
        display: flex;
        width: 550px;
        gap:4px;
        cursor: pointer;
        align-items: center;
        font-size:32px ;
        line-height: 34px;
        font-weight: 600;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#463F3C;
    }
    .oldPasswordResetTexts{
        display: flex;
        flex-direction: column;
        width: 100%;

        align-items: start;
        gap:10px;

     
    }
    .oldPasswordResetTitle{
 
        font-size:32px ;
        line-height: 48px;
        font-weight: 700;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000; 
    }
    .oldPasswordResetEmailLabel{
           margin-top: 10px;
           font-size:18px ;
           line-height: 16px;
           font-weight: 500;
           font-family:Neue Haas Grotesk Display Pro ;
           color:#000000; 
       }
    .oldPasswordResetInstruction{

        font-size:18px ;
        line-height: 24px;
        font-weight: 400;
        font-family:Neue Haas Grotesk Display Pro ;
        color:#000000;   
    }
    .oldPasswordResetAlternatives{
        width: 550px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    .googleAlternative{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:4px;
        width:266px ;
        height: 56px;
        border-radius: 50px;
        border: 1px solid #00000080;
        cursor: pointer;
    }
    .emailAlternative{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:4px;
        width:266px ;
        height: 56px;
        border-radius: 50px;
        border: 1px solid #00000080;
        cursor: pointer;
    }
  
  
    .emailInputContainer {
        position: relative;
        display: flex;
        align-items: start;
        width: 100%;
    
    }
    
    .emailInputBar {
        width: 510px;
        height: 60px;
        padding-left: 40px; /* Adjust as needed to make space for the logo */
        border-radius: 50px;
        border: 2px solid #0000004D;
        background-image: url('../../assets/Images/emailLogo.svg'); /* Replace 'path/to/emailLogo.png' with the actual path to your email logo */
        background-size: 24px 24px; /* Set the size of the background image */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        background-position: 10px center; /* Adjust the position of the background image */
    }
    
    .emailInputBar::placeholder {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        font-family: Neue Haas Grotesk Display Pro;
        color: #888A8B;
    }
    .oldPasswordResetButtonSection{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    
    }
    .signUpLink{
        display: flex;
        width: 50%;
        margin-top: 20px;
        justify-content: center;
      }
    .oldPasswordResetButton {
     
        box-shadow: #7E8AF8;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        cursor: pointer;
        font-family: Neue Haas Grotesk Display Pro;
        padding: 3px ;
        gap:4px;
        width: 550px;
        height: 60px;
        border-radius: 50px;
        background: linear-gradient(to right, #4B4BE3, #5691C8);
      }
 
      .oldPasswordResetLink{
        align-self: center;
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        font-family: Neue Haas Grotesk Display Pro;
        color: #574F4A;
      }
      .oldPasswordResetLink span{
        font-weight: 600;
        background-image: linear-gradient(to right, #4B4BE3, #5691C8);
        -webkit-background-clip: text; /* For Safari */
        background-clip: text;
        color: transparent; 
        cursor: pointer;
      }
    }